{% extends 'tableau/base.html' %}

{% block title %}Tableau Home{% endblock %}

{% block header %}
Acá va el header del home!
{% endblock %}

{% block content %}
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam consectetur consequuntur quos obcaecati voluptate, fuga accusantium id cumque cum natus earum! Assumenda inventore ducimus, totam maxime exercitationem odit vel nam?
</p>
{% endblock %}

{% block footer %}
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni amet sit enim distinctio in nulla magnam molestiae ea sed praesentium eligendi voluptatibus, corrupti repellat rerum cumque perferendis error odio. Totam!
</p>
{% endblock %}